!border_radius= 0.6em

body
  :margin-left 2em
  :margin-right 2em
  :margin-top 0
  :margin-bottom 0
  :background #f60

h1
  :text-align center

hr
  :border 1px solid #f60

legend
  :font-size 1.5em
  :font-weight bold

label
  :float left
  :width 190px

.form-advice
  :margin-top 1em
  a
    :display block

.blurp p
  :margin-bottom 2em
  :padding-top 1em
  :padding-bottom 1em

input, select
  :background #ffe
  :border 1px solid #ccc
  :padding 2px
  :margin 2px

textarea
  :background #ffe
  :border 1px solid #ccc
  :padding 2px
  :margin 2px
  :height 20em
  :width 50em

input.button
  :color #333
  :font-weight bold
  :display block

input.button:hover
  :background #930

input:focus
  :border 1px solid #930

a
  :color #f60
  :font-weight bold
  :text-decoration none

#minimal-layout
  #header, #content
    :width 380px
    :padding 1em
    :margin-left auto
    :margin-right auto
    :background #fec
    :border 0.5em solid #edb
    :-moz-border-radius= !border_radius
  #header
    :text-align center
    :margin-top 2em
    :margin-bottom 2em
  #content
    :color #111
    :-moz-border-radius= !border_radius
    input.button
      :width auto

#layout
  #header
    // :background #111
    :background #fec
    :display block
    :padding 1em
    :margin-bottom 1em
    :-moz-border-radius= 0 0 !border_radius !border_radius
    #logo
      :float left
    #menu
      :text-align right
      a
        :font-size 1.2em
        :text-decoration none
        :margin-left 0.2em
        :margin-right 0.2em
      a:hover
        :background #fff
      #search-box
        :float right
        :vertical-align middle
        :line-height 2em
  #content
    :padding 1em
    :display block
    :background #fec
    :border 0.5em solid #edb
    :-moz-border-radius= !border_radius
    #sub_menu
      :text-align center
      :margin 1em
      a
        :padding-left 0.2em
        :padding-right 0.2em
        :margin 0.3em
        :border 1px solid #f60
        :background #fdb
    #banner
      :width 100%
      :text-align center
    #latest
      .latest-column
        :width 31.66%
        :margin 0.5em
        :float left
        h3
          :text-align center
      #members
        .member
          :width 100%
          :margin-bottom 1em
          .avatar
            :width 60px
            :height 60px
            :float left
          .info
            .name
            .location
              :font-size 0.7em
      #images
        :width 200px
        :text-align center
        .image
          :margin-top 1em
          :float left
          :width 100px
          :height 100px
  #footer
    :text-align center
    :margin-top 2em
    a
      :color #06a
      :margin-left 0.2em
      :margin-right 0.2em

#search-box
  :margin-top 1em
  label, input
    :font-size 0.9em
  input
    :-moz-border-radius= !border_radius

#comments
  .comment
    :width 100%
    :margin-bottom 1em
    .avatar
      :width 60px
      :float left
    .message
      .head
        :font-size 0.8em
      .body

#profile
  #summary
    #name-location
      :text-align center
      :padding-bottom 1em
      h1
        :margin 0
      a.location
        :font-size 1.2em
  .section
    :padding-bottom 2em
    h3
      :font-size 1.2em
      :padding-left 1em
      :background #f60
    .post, .comment
      :margin-left 1em
      :padding 1em
    #comment-form
      textarea
        :width 90%
        :height 10em

#profile-edit
  form
    :margin-bottom 1em
  legend
    :padding-bottom 1em
  label
    :width 9em
  textarea
  textarea, input
    :width 250px
  input.button
    :width 100%
    :margin-left auto
    :margin-right auto
    :margin-bottom -1em
  #general
    :width 49%
    :float left
  #password
    :width 49%
    :float right
  #delete
    :width 49%
    :float right
    input
      :background #f00

#blog
  #sidebar
    :width 200px
    :float left
  .post
    :margin-left 200px
    :padding 1em

/*
  #blog
    h1
      :margin 0
    .post
      :background #f00
      :padding 1em
      :float right
      :width 50%
      h2
        :text-align center
    #sidebar
      :width 170px
      :float left
      #avatar
        :width 160px
      #history
        :background #f00
        h3
          :font-size 1em
        .item
          :font-size 0.9em
          :background #ff0
          :border 1px solid black
        .ago
          :font-size 0.8em

#blog-mod
  form
    :width 90%
  label
    :width 15%
  input
    :width 80%
  input.button
    :width auto
  textarea
    :width 80%

#avatar
  :width 160px
  :float left

#search
  .result
    :width 100%
    :margin-bottom 1em
    .avatar
      :width 160px
      :float left
    .info
      .name
        :font-size 1.2em

#image
  #manage
    :padding-bottom 2em
    form
      label
        :width 4em
  #images
    :text-align center
    .image
      :padding 0.2em
      :padding-bottom 2em
      :height 150px
      :width 150px
      :float left
