body
  :margin-left 2em
  :margin-right 2em
  :margin-top 2em
  :background #f60

h1
  :text-align center

hr
  :border 1px solid #f60

legend
  :font-size 1.5em
  :font-weight bold

label
  :float left
  :width 160px

.form-advice
  :margin-top 1em
  a
    :display block

.blurp p
  :margin-bottom 2em
  :padding-top 1em
  :padding-bottom 1em

input, select
  :background #ffe
  :border 1px solid #ccc
  :padding 2px
  :margin 2px

textarea
  :background #222
  :border 1px solid #333
  :padding 2px
  :margin 2px
  :height 20em
  :width 50em

input.button
  :color #333
  :font-weight bold
  :display block

input.button:hover
  :background #930

input:focus
  :border 1px solid #930

a
  :color #f60
  :font-weight bold
  :text-decoration none

#minimal-layout
  #header
    :text-align center
    :margin-left auto
    :margin-right auto
    :margin-top 2em
    :margin-bottom 2em
  #content
    :width 500px
    :padding 1em
    :margin-left auto
    :margin-right auto
    :border 0.5em solid #edb
    :background #fec
    :color #111
    input
      :width 330px
    input.button
      :width 100%

#layout
  #header
    // :background #111
    :background #fec
    :display block
    :padding 1em
    :margin-bottom 1em
    #logo
      :float left
    #menu
      :text-align right
      a
        :font-size 1.2em
        :text-decoration none
        :margin-left 0.2em
        :margin-right 0.2em
      a:hover
        :background #fff
  #content
    :padding 1em
    :display block
    :background #fec
    :border 0.5em solid #edb
    #caption
      :width 100%
      :text-align center
    #latest
      .latest-column
        :width 33.3%
        :float left
        h3
          :text-align center
      #members
        .member
          :width 100%
          :height 50px
          :margin-bottom 1em
          .avatar
            :width 60px
            :float left
          .info
            .name
            .location
              :font-size 0.7em
      #pictures
        :text-align center
  #footer
    :display block
    :text-align center
    :background #fec
    :margin-top 1em
    a
      :margin-left 0.2em
      :margin-right 0.2em

#profile
  #summary
    #name-location
      :text-align center
      :padding-bottom 1em
      h1
        :margin 0
      a.location
        :font-size 1.2em
    #avatar
      :width 160px
      :float left

/*
  #menu
    :text-align right
    a
      :font-size 1.2em
      :color #fff
      :text-decoration none
      :margin-left 1em

  #latest-side h2
    :font-size 1em

  #flashbox
    :text-align left
    :overflow auto
    :height 3.1em
    .good
      :color #6f6

  #sub_nav
    :background #012
    a
      :display block

  #main
    :background #035
    :margin-bottom 1em
    :padding 1em

  #content
    :background #012
    :padding 2em 1em 0.1em 2em

  #footer
    :text-align center
    :background #035

  #caption
    :text-align center

  #featured
    h3
      :font-size 1.2em
      :text-align center
    img
      :float lefj
      :margin-right 1em

  #latest
    :padding-top 2em
    div
      :text-align center
    h3
      :font-size 1.2em
      :text-align center

  .user-location
    :font-size 0.7em
    :display block
    :text-align left

  .user-name
    :font-size 1.1em
    :display block
    :text-align left

  #newest-pictures img
    :border 0.5em solid #034
    :margin 0.5em

  #profile-items .key
    :padding-right 1em
    :font-weight bold

  #min #header
    :padding-top 2em
    :text-align center

  #min-content
    :padding 1em
    :background #035

  #login, #register
    :background #111
    :padding 2em 2em 0.1em 2em
