#about
  :maruku
    * ToC
    {:toc}

    # About Sociar

    Sociar is an open source social network system. It's designed for ease of
    use and customization.

    ## Features

    * User
      * Authentication
        * Ordinary email/password
          * Recover lost password
        * OpenID
      * Avatar / gravatar
      * Profile
    * Images
      * Lightbox
      * Tagging
      * Thumbnailing
      * Upload
      * Flickr integration
    * Blog
      * Commenting
      * Email-Notification and Feeds
      * Every user has a blog
    * Messaging
      * Email-Notification and Feeds
      * User2User PM
    * Search
      * For User
        * by location
        * by name
      * For Blog Post
        * by fulltext
        * by title

    ## Obtaining

    ## Dependencies

    * configuration
    * erubis
    * faker
    * haml
    * maruku
    * rack
    * ramaze
    * sequel
    * sqlite3-ruby
    * xml-simple


-# vi: syntax=haml
